body {
  background: #fff400;
}
.box {
  position: relative;
  height: 600px;
  width: 600px;
  margin: 0 auto;
  margin-top: 5%;
}
.eye-left {
  position: absolute;
  height: 30%;
  width: 30%;
  top: 18%;
  left: 20%;
  background: white;
  border-radius: 50%;
  border: 5px solid black;
}
.eyelashes-left-1 {
  position: absolute;
  top: 14.5%;
  left: 28%;
  height: 5%;
  width: 1.5%;
  background: black;
  transform: rotate(-12deg);
}
.eyelashes-left-2 {
  position: absolute;
  top: 13.6%;
  left: 35%;
  height: 5%;
  width: 1.5%;
  background: black;
}
.eyelashes-left-3 {
  position: absolute;
  top: 15%;
  left: 42%;
  height: 5%;
  width: 1.5%;
  background: black;
  transform: rotate(12deg);
}

.eye-right {
  position: absolute;
  height: 30%;
  width: 30%;
  top: 18%;
  right: 18%;
  background: white;
  border-radius: 50%;
  border: 5px solid black;
}

.eyelashes-right-1 {
  position: absolute;
  top: 14.5%;
  right: 28%;
  height: 5%;
  width: 1.5%;
  background: black;
  transform: rotate(12deg);
}

.eyelashes-right-2 {
  position: absolute;
  top: 13.6%;
  right: 35%;
  height: 5%;
  width: 1.5%;
  background: black;
}
.eyelashes-right-3 {
  position: absolute;
  top: 15.7%;
  right: 42%;
  height: 5%;
  width: 1.5%;
  background: black;
  transform: rotate(-12deg);
}

.pupil-left {
  position: absolute;
  height: 30%;
  width: 30%;
  top: 40%;
  left: 47%;
  background: #0093dc;
  border-radius: 50%;
  border: 2px solid black;
}
.iris-left {
  position: absolute;
  height: 50%;
  width: 50%;
  top: 25%;
  left: 25%;
  background: black;
  border-radius: 50%;
}
.pupil-right {
  position: absolute;
  height: 30%;
  width: 30%;
  top: 40%;
  right: 47%;
  background: #0093dc;
  border-radius: 50%;
  border: 2px solid black;
}

.iris-right {
  position: absolute;
  height: 50%;
  width: 50%;
  top: 25%;
  left: 25%;
  background: black;
  border-radius: 50%;
}

.nose {
  position: absolute;
  height: 18%;
  width: 6%;
  top: 30%;
  left: 47%;
  background: #fff400;
  border: 1px solid transparent;
  border-top: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-radius: 50%;
}
.cheek-left {
  position: absolute;
  height: 8%;
  width: 13%;
  top: 42%;
  left: 14%;
  border-radius: 50%;
  background: #fff400;
  border: 2px solid transparent;
  border-top: 5px solid #d9241c;
  border-left: 4px solid #d9241c;
  border-right: 4px solid #d9241c;
  transform: rotate(-12deg);
}
.cheek-right {
  position: absolute;
  height: 8%;
  width: 13%;
  top: 42%;
  right: 14%;
  background: #fff400;
  border: 2px solid transparent;
  border-top: 5px solid #d9241c;
  border-right: 4px solid #d9241c;
  border-left: 4px solid #d9241c;
  border-radius: 50%;
  transform: rotate(12deg);
}

.dimples-left-1 {
  position: absolute;
  height: 12%;
  width: 7%;
  background: #d9241c;
  border-radius: 50%;
  top: 30%;
  left: 25%;
}

.dimples-left-2 {
  position: absolute;
  height: 12%;
  width: 7%;
  background: #d9241c;
  border-radius: 50%;
  top: 30%;
  left: 55%;
}

.dimples-left-3 {
  position: absolute;
  height: 12%;
  width: 7%;
  background: #d9241c;
  border-radius: 50%;
  top: 60%;
  left: 40%;
}

.dimples-right-1 {
  position: absolute;
  height: 12%;
  width: 7%;
  background: #d9241c;
  border-radius: 50%;
  top: 30%;
  right: 30%;
}
.dimples-right-2 {
  position: absolute;
  height: 12%;
  width: 7%;
  background: #d9241c;
  border-radius: 50%;
  top: 30%;
  right: 55%;
}

.dimples-right-3 {
  position: absolute;
  height: 12%;
  width: 7%;
  background: #d9241c;
  border-radius: 50%;
  top: 60%;
  right: 42%;
}

.mouth {
  position: absolute;
  height: 50%;
  width: 70%;
  top: 13%;
  left: 14%;
  border: 2px solid transparent;
  border-bottom: 5px solid black;
  border-radius: 50%;
  z-index: 2;
}
.mouth-crease-left {
  position: absolute;
  height: 10%;
  width: 10%;
  border: 1px solid transparent;
  border-top: 5px solid black;
  border-radius: 50%;
  top: 50%;
  transform: rotate(-25deg);
  left: 17%;
}
.mouth-crease-right {
  position: absolute;
  height: 10%;
  width: 10%;
  border: 1px solid transparent;
  border-top: 5px solid black;
  border-radius: 50%;
  top: 50%;
  transform: rotate(25deg);
  right: 18%;
}

.tooth-1 {
  position: absolute;
  height: 11%;
  width: 6%;
  background: white;
  border: 5px solid black;
  top: 99.6%;
  left: 41.5%;
  z-index: 1;
  transform: rotate(5deg);
}

.tooth-2 {
  position: absolute;
  height: 11%;
  width: 6%;
  background: white;
  border: 5px solid black;
  top: 99.6%;
  left: 51%;
  z-index: 1;
  transform: rotate(-5deg);
}

.chin:before {
  position: absolute;
  height: 15%;
  width: 15%;
  content: "";
  border: 2px solid transparent;
  border-bottom: 8px solid #d9241c;
  border-radius: 50%;
  top: 62%;
  left: 38%;
  transform: rotate(10deg);
}
.chin::after {
  position: absolute;
  height: 15%;
  width: 15%;
  content: "";
  border: 2px solid transparent;
  border-bottom: 8px solid #d9241c;
  border-radius: 50%;
  top: 62%;
  left: 50%;
  transform: rotate(-10deg);
}

.hole-1 {
  position: absolute;
  height: 8%;
  width: 8%;
  background: #d2c741;
  border-radius: 50%;
  top: 12%;
}
.hole-2 {
  position: absolute;
  height: 10%;
  width: 10%;
  background: #d2c741;
  border-radius: 50%;
  top: 5%;
  right: 5%;
}
.hole-3 {
  position: absolute;
  height: 7%;
  width: 7%;
  background: #d2c741;
  border-radius: 50%;
  top: 38%;
  right: 3%;
}

.hole-4 {
  position: absolute;
  height: 8%;
  width: 8%;
  background: #d2c741;
  border-radius: 50%;
  top: 58%;
  right: 10%;
}
.hole-5 {
  position: absolute;
  height: 6%;
  width: 6%;
  background: #d2c741;
  border-radius: 50%;
  top: 58%;
  left: 10%;
}
.hole-6 {
  position: absolute;
  height: 8%;
  width: 8%;
  background: #d2c741;
  border-radius: 50%;
  top: 78%;
  left: 24%;
}
.hole-7 {
  position: absolute;
  height: 3%;
  width: 3%;
  background: #d2c741;
  border-radius: 50%;
  top: 80%;
  right: 25%;
}
